.cardimg {
    margin-top: 25px;
    height: 180px;
    width: 205px;
    margin-bottom: 12px;
}

.card-main {
    background-color: #BE00D7;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    height: 300px;
    display: inline-block;
    width: 250px;
}
.team-title{
    font-size: 2vh;
    font-weight: bold;
}
.team-subtitle{
    font-size: 1.7vh;
    line-height: 0.5vh;
}